.skeleton {
  ::before {
    background: #486471;
  }
  ::after {
    background: #6797b4;
  }
}

.image {
  transition: transform cubic-bezier(0.3, 0, 0, 0.75) 200ms;
}

.card {
  flex-basis: 100%;
  transition: background-color ease 200ms;
  &:hover {
    background-color: var(--mantine-color-midnight-0);

    .image {
      transform: scale(1.1);
    }
  }
}

.disabled {
  pointer-events: none;
  background-color: transparent;
  opacity: 0.3;
}
