body {
    background-color: light-dark(#f0f0f0, var(--mantine-color-midnight-6));
    a {
        outline: none;
        text-decoration: none;
        color: #3c6377;
    }
}

.footer {
    background-color: light-dark(var(--mantine-color-midnight-6), var(--mantine-color-midnight-6));
}

@supports (-moz-appearance: none) {
    input[readonly][aria-haspopup] {
        pointer-events: auto !important;
    }
}
