@font-face {
    font-family: Gotham;
    src: url( "../../public/fonts/gotham/GothamBold.ttf");
}

.navlink {
    color: white;
    border-bottom: rem(5) solid var(--mantine-color-midnight-11);
    font-family: Gotham;

    @media (max-width: 1040px) {
        border-bottom: none;
    }

    &:hover {
        background: var(--mantine-color-midnight-11);
        border-bottom: rem(5) solid white;
        color: var(--mantine-color-bushfire-4);

        @media (max-width: 1040px) {
            border-bottom: none;
        }
    }

    &[data-active] {
        background: var(--mantine-color-midnight-11);
        border-bottom: rem(5) solid white;
        color: var(--mantine-color-wheat-4);

        @media (max-width: 1040px) {
            border-bottom: none;
        }
    }
}

.menuItems {
    @media screen and (max-width: 1040px) {
        display: none;
    }
}

.burgerNav {
    display: none;
    @media screen and (max-width: 1040px) {
        display: block;
    }
}

.cart {
    padding-top: 20px;
    @media screen and (max-width: 1040px) {
        padding-top: 0;
    }
}