.stats::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(35, 60, 75, 0.6);
  opacity: 0;
  transition: opacity 0.2s ease-out;
  border-radius: var(--mantine-radius-lg);
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  color: white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  opacity: 0;
  transition: all 0.2s ease;
  z-index: 100;
}

.stats:hover::after {
  opacity: 1;
  backdrop-filter: blur(6px);
  cursor: pointer;
}

.stats:hover .message {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
