.skeletonOverview:where([data-visible])::before {
    background-color: var(--mantine-color-wheat-2);
}

.skeletonOverview:where([data-visible])::after {
    background-color: var(--mantine-color-wheat-1);
}

.cardTable {
    th {
        font-weight: 300;
        background-color: transparent;
        color: var(--mantine-color-midnight-9);
        width: 1px;
        white-space: nowrap;
    }

    td {
        font-weight: 600;
        color: var(--mantine-color-midnight-9);
        width: 100%;
    }
}

.scoreContainer {
    border-color: var(--mantine-color-moss-5);
}

.scoreYes {
    fill: var(--mantine-color-moss-5);
    stroke: var(--mantine-color-moss-5);
}

.scoreNo {
    fill: transparent;
    stroke: var(--mantine-color-moss-5);
}
