.image {
  transition: transform cubic-bezier(0, 0, 0, 0.75) 200ms;
}

.card {
  transition: background-color ease 200ms;
  background-color: var(--mantine-color-midnight-10);

  &:hover {
    background-color: var(--mantine-color-midnight-11);

    .image {
      transform: scale(1.1);
    }
  }
}

.disabled {
  background-color: transparent;
  opacity: 0.5;
  & a {
    cursor: default;
  }
}
