.card {
  background-color: var(--mantine-color-midnight-10);

  @mixin hover {
    background-color: var(--mantine-color-midnight-11);
  }
}

.disabled {
  background-color: transparent;
  opacity: 0.5;
  & a {
    cursor: default;
  }
}
