.container {
    white-space: nowrap;

    mask: linear-gradient(
            to right,
            rgba(0, 0, 0, 0) 0,
            rgba(0, 0, 0, 1) 10%,
            rgba(0, 0, 0, 1) 90%,
            rgba(0, 0, 0, 0) 100%
        )
        100% 50% / 100% 100% repeat-y;
}

.card {
    display: inline-block;
    margin-left: 20px;
}

.card:first-child {
    margin-left: 10%;
}

.card:last-child {
    margin-right: 10%;
}
