.data-table {
    height: 1px;

    tbody tr {
        height: 10;

        td {
            &:first-child {
                text-align: left;
                white-space: nowrap;
                width: 1px;
                padding-right: var(--mantine-spacing-xl);
                font-size: var(--mantine-font-size-sm);
                font-weight: 300;
                color: var(--mantine-color-midnight-9);
            }
        }
    }
}

.simple-text-table {
    tbody tr td {
        border-top: none;

        &:first-child {
            text-align: left;
            white-space: nowrap;
            width: 1;
            padding-right: var(--mantine-spacing-xl);
            font-size: var(--mantine-font-size-sm);
            font-weight: 300;
        }
    }
}
