.timeline {
    border-radius: var(--mantine-radius-lg);

    tr {
        border: none;

        /* &.itemRow { */
        /*     border: 1px solid #d3d8db; */
        /* } */

        td {
            &.itemIcon, &.itemHeader, &.itemBody {
                vertical-align: top;
                padding-top: 0px;
                padding-bottom: 0px;
            }
            &.itemIcon {
                /* background-color: #d6e4ed; */
                background-color: #d3d8db;
                padding-left: 15px;
            }
            &.itemHeader {
                /* background-color: #d6e4ed; */
                background-color: #d3d8db;
                padding-right: 15px;
            }
            &.itemBody {
                border-top: 1px solid #d3d8db;
                border-bottom: 1px solid #d3d8db;
            }
        }

        &:first-child td {
            &.itemIcon, &.itemHeader {
                border-top: 1px solid #d3d8db;
                padding-top: 15px;
            }
            &.itemIcon {
                /* border-radius: var(--mantine-radius-lg) 0 0 0; */
            }
            &.itemHeader {
                border-radius: 0 var(--mantine-radius-lg) 0 0;
            }
        }

        &:last-child td {
            &.itemIcon, &.itemHeader {
                border-bottom: 1px solid #d3d8db;
                padding-bottom: 15px;
            }
            &.itemIcon {
                /* border-radius: 0 0 0 var(--mantine-radius-lg); */
            }
            &.itemHeader {
                border-radius: 0 0 var(--mantine-radius-lg) 0;
            }
        }
    }
}
