.dropdown {
  border-radius: var(--mantine-radius-lg);
}

.option {
  border-radius: var(--mantine-radius-lg);
}

.option[data-combobox-selected="true"] {
  background-color: var(--mantine-color-midnight-9);
}
