.overview {
    color: var(--mantine-color-midnight-7);
    font-weight: 700;
    font-size: var(--mantine-font-size-sm);
    border-style: solid;
    border-width: 1px;
    border-color: var(--mantine-color-attribute-0);
    background-color: white;
}

.common {
    color: var(--mantine-color-attribute-5);
    font-weight: 700;
    font-size: var(--mantine-font-size-sm);
    border-style: solid;
    border-width: 1px;
    border-color: var(--mantine-color-attribute-5);
    background-color: var(--mantine-color-attribute-1);
}

.mossOutline {
    color: var(--mantine-color-moss-5);
    border: solid 1px var(--mantine-color-moss-5);
}

.mossFill {
    color: white;
    background-color: var(--mantine-color-moss-5);
}

.wheatOutline {
    color: var(--mantine-color-midnight-9);
    border: solid 1px var(--mantine-color-wheat-5);
}

.wheatFill {
    color: var(--mantine-color-midnight-9);
    background-color: var(--mantine-color-wheat-5);
}

.bushfireOutline {
    color: var(--mantine-color-bushfire-5);
    border: solid 1px var(--mantine-color-bushfire-5);
}

.bushfireFill {
    color: white;
    background-color: var(--mantine-color-bushfire-5);
}

.shellfishOutline {
    color: var(--mantine-color-shellfish-5);
    border: solid 1px var(--mantine-color-shellfish-5);
}

.shellfishFill {
    color: white;
    background-color: var(--mantine-color-shellfish-5);
}

.standard {
    color: var(--mantine-color-midnight-8);
    font-weight: 600;
    font-size: var(--mantine-font-size-sm);
    border: none;
    background-color: var(--mantine-color-attribute-1);
}

.doi {
    color: var(--mantine-color-shellfish-5);
    font-weight: 700;
    font-size: var(--mantine-font-size-sm);
    border-style: solid;
    border-width: 1px;
    border-color: var(--mantine-color-shellfish-5);

    &:hover {
        background-color: var(--mantine-color-shellfishBg-0);
    }
}

.coordSystem {
    color: var(--mantine-color-moss-6);
    font-weight: 700;
    font-size: var(--mantine-font-size-sm);
    border-style: solid;
    border-width: 1px;
    border-color: var(--mantine-color-moss-5);
    background-color: var(--mantine-color-moss-1);
}

.idTitle {
    color: var(--mantine-color-midnight-9);
    font-weight: 700;
    font-size: var(--mantine-font-size-lg);
    border: none;
    background-color: var(--mantine-color-attribute-1);
}

.outline {
    border-style: solid;
    border-width: 1px;
    background-color: transparent;
}
