.header {
    color: white;

    th {
        padding: var(--mantine-spacing-xl);
        font-weight: 600;
        text-align: center;
        background-color: var(--mantine-color-midnight-9);
    }

    tr {
        :hover {
            cursor: pointer;
            background-color: var(--mantine-color-midnight-8);
        }
    }
}

.row {
    td {
        font-weight: 300;
        font-size: var(--mantine-font-size-xs);
        text-align: center;
        color: var(--mantine-color-midnight-9);
    }
}

.container {
    overflow: clip;
    background: none;
}
