.switcher {
  background: #bdc5c9;
  border-radius: var(--mantine-radius-lg);
  overflow: clip;
}

.record {
  border-radius: var(--mantine-radius-lg);
  padding: var(--mantine-spacing-md);
  cursor: pointer;

  .scientificName {
    color: black;
    white-space: nowrap;
  }
}

.source {
  color: white;
  font-weight: bold;
  text-align: center;
  background: var(--mantine-color-shellfish-5);
  padding: var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-lg);
}
