.bar {
    fill: var(--mantine-color-shellfish-5);
    opacity: 0.4;

    &:hover {
        opacity: 1;
    }
}

.line {
    stroke: var(--mantine-color-moss-5);
    stroke-width: 4;
}

.lineDot {
    stroke: var(--mantine-color-moss-5);
    fill: var(--mantine-color-moss-5);

    &:hover {
        stroke: var(--mantine-color-moss-8);
    }
}

.scaleText {
    font-weight: 700;
    font-size: 12px;
}
