.bar {
    fill: var(--mantine-color-shellfish-5);
    opacity: 0.4;
}

.line {
    stroke: var(--mantine-color-moss-5);
    stroke-width: 4;
}

.lineDot {
    stroke: var(--mantine-color-moss-5);
    fill: var(--mantine-color-moss-5);
}

.scaleText {
    font-weight: 700;
    font-size: 12px;
}

.tooltip {
    background-color: var(--mantine-color-midnight-5);
}

.tooltipText {
    font-weight: 700;
    font-size: 12px;
}

.rangeHighlight {
    opacity: 0.7;
    stroke-dasharray: 5 5;
    stroke-width: 2;
}

.rangeHighlightPercentage {
    stroke-width: 0;
    font-weight: 800;
    font-size: 1.5em;
    --number-flow-mask-height: 0.3em;
    --number-flow-char-height: 0.85em;
}

.rangeHighlightYear {
    font-weight: 650;
    font-size: 2.8em;
    fill: var(--mantine-color-midnight-9);
    alignment-baseline: baseline;
    dominant-baseline: text-bottom;
    opacity: 0.3;
}

.rangeHighlightDetailsNumber {
    font-weight: 800;
    font-size: 1.1em;
    --number-flow-mask-height: 0.3em;
    --number-flow-char-height: 0.85em;
    padding: 0;
    margin: 0;
}

.rangeHighlightDetails {
    font-weight: 400;
    font-size: 0.6em;
    padding: 0;
    margin: 0;
}
