.group {
    opacity: 0.6;
    &:hover {
        opacity: 1;
    }
}

.arc25 {
    fill: var(--mantine-color-bushfire-5);
}

.arc50 {
    fill: var(--mantine-color-wheat-5);
}

.arc75 {
    fill: var(--mantine-color-wheat-5);
}

.arc100 {
    fill: var(--mantine-color-moss-5);
}

.text {
    font-weight: 400;
    font-size: 20px;
    text-anchor: middle;
    dominant-baseline: end;
}

.gridCenter {
    fill: white;
    stroke: var(--mantine-color-bushfire-2);
    stroke-width: 2px;
}

.gridLabel {
    font-size: 10px;
    font-weight: 400;
    text-anchor: middle;
    dominant-baseline: end;
}

.grid25 {
    stroke: var(--mantine-color-bushfire-2);
    stroke-width: 2px;
    fill: var(--mantine-color-bushfire-1);
}

.grid50 {
    stroke: var(--mantine-color-wheat-2);
    stroke-width: 2px;
    stroke-dasharray: 5 5;
    fill: var(--mantine-color-wheat-1);
}

.grid75 {
    stroke: var(--mantine-color-wheat-2);
    stroke-width: 2px;
    fill: var(--mantine-color-wheat-1);
}

.grid100 {
    stroke: var(--mantine-color-moss-2);
    stroke-width: 2px;
    fill: var(--mantine-color-moss-1);
}
