.item {
    cursor: pointer;

    &:hover {
        background: var(--mantine-color-midnight-0);
    }
}

.table {
    th {
        font-size: var(--mantine-font-size-xs);
        font-weight: 300;
        color: var(--mantine-color-midnight-9);
        text-align: left;
        width: 1px;
        padding-right: var(--mantine-spacing-xl);
        padding-top: 2;
        padding-bottom: 2;
    }

    td {
        font-size: var(--mantine-font-size-xs);
        font-weight: 600;
        color: var(--mantine-color-midnight-7);
        text-align: left;
        padding-top: 2;
        padding-bottom: 2;
        word-wrap: break-word;
        white-space: normal;
    }
}
