.tab {
  position: relative;
  border-radius: rem(10) rem(10) 0 0;
  margin-left: rem(2);
  margin-right: rem(2);
  padding: rem(15) rem(20) rem(25) rem(20);
  font-size: rem(14);
  color: #3c6377;
  text-transform: uppercase;
  font-weight: 500;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }

  @mixin hover {
    background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-6));
  }

  &[data-active] {
    font-weight: 600;
    background-color: var(--mantine-color-white);
    color: black;
  }
}

.textButton {
  &:hover {
    text-decoration: underline !important;
  }
}

.skeletonOverview:where([data-visible])::before {
  background-color: var(--mantine-color-wheat-2);
}

.skeletonOverview:where([data-visible])::after {
  background-color: var(--mantine-color-wheat-1);
}

.pill {
  color: var(--mantine-color-midnight-7);
  font-size: var(--mantine-font-size-xs);
  font-weight: 700;
}

.overviewContent {
  color: var(--mantine-color-midnight-7);
  font-size: var(--mantine-font-size-xs);
  font-weight: 700;
}
