.statLabel {
    font-size: var(--mantine-font-size-xs);
    font-weight: 400;
    color: var(--mantine-color-midnight-7);
}

.statValue {
    font-size: var(--mantine-font-size-xs);
    font-weight: 700;
    color: var(--mantine-color-midnight-7);
}

.overviewItem {
    font-size: var(--mantine-font-size-xs);
    font-weight: 400;
    color: var(--mantine-color-midnight-7);
    border-color: var(--mantine-color-wheatBg-1);
}
