.coverageHigh {
    fill: var(--mantine-color-moss-5);

    text {
        fill: var(--mantine-color-moss-9);
    }
}
.coverageMiddle {
    fill: var(--mantine-color-wheat-5);

    text {
        fill: var(--mantine-color-wheat-9);
    }
}
.coverageLow {
    fill: var(--mantine-color-bushfire-5);

    text {
        fill: var(--mantine-color-bushfire-9);
    }
}

.levelText {
    font-size: 0.3em;
    font-weight: 600;
    text-anchor: middle;
}

.levelDescriptionText {
    font-size: 0.3em;
    font-weight: 400;
    text-anchor: middle;
}
