.groupButton {
    border-radius: var(--mantine-radius-lg);

    &:hover {
        cursor: pointer;
        background-color: var(--mantine-color-shellfish-1);
    }
}

.groupButtonLabel {
    font-size: 12px;
    font-weight: 600;
}
