.item {
    background-color: white;
    border-radius: var(--mantine-radius-xl);
    box-shadow: var(--mantine-shadow-sm);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.itemDetails {
    background-color: var(--mantine-color-moss-0);
    border-radius: var(--mantine-radius-xl);
    box-shadow: var(--mantine-shadow-sm);

    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    width: 100%;
    height: 100%;
}

.itemDetailsHeader {
    font-size: 0.7em;
    font-weight: 650;
}

.itemYear {
    font-size: 2.5em;
    font-weight: 700;
    color: var(--mantine-color-shellfish-6);
}

.text {
    font-weight: 700;
    font-size: var(--mantine-font-size-sm);
    color: var(--mantine-color-midnight-8);
    text-align: center;
}

.detailsText {
    font-weight: 500;
    font-size: var(--mantine-font-size-xs);
    color: var(--mantine-color-midnight-8);
}

.buttonText {
    font-weight: 600;
    font-size: var(--mantine-font-size-sm);
    text-anchor: start;
    dominant-baseline: middle;
}

.buttonTextInverted {
    font-weight: 600;
    font-size: var(--mantine-font-size-sm);
    color: var(--mantine-color-midnight-8);
    text-anchor: start;
    dominant-baseline: middle;
}

.bullet {
    fill: var(--mantine-color-midnight-8);
}

.line {
    stroke: var(--mantine-color-midnight-8);
    stroke-width: 1;
    stroke-dasharray: 1 1;
}

.flipButton {
    cursor: pointer;
    color: var(--mantine-color-midnight-2);

    &:hover {
        filter: brightness(50%);
    }
}
